*{
    font-family: "Roboto", sans-serif;
}

.password-container {
    position: relative;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #6c757d;
}

.container-login{
    height: 100vh;
    width: 100vh;
}

.low-lvl{
    background-color: rgb(194, 232, 194)!important;
    color: green!important;
}
.medium-lvl{
    background-color: rgb(240, 244, 213)!important;
    color: rgb(193, 187, 15)!important;
}

.background-primary{
    background-color: #65558F!important;
}

.text-primary-custom{
    color: #65558F!important;
}

.background-secondary{
    background-color: #ECE6F0!important;
}

.sidebar{
    min-width: 200px;
    max-width: 200px;
    /* height: 100vh; */
}

.icon-wrapp{
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.icon-wrapp img{
    width: 100%;
    height: 100%;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #65558F !important; /* Warna border default */
    outline: none !important;
}

.link-sidebar:hover{
    color: #65558F!important;
}

.dropdown-item{
    font-size: 14px!important;
    color: grey!important;
}

.modal-title{
    font-size: 10px!important;
}

.task-card{
    border: 0.5px solid #d2d2d2;
    border-radius: 15px;
}

.priority-lvl-card{
    font-size: 12px;
    color: #790B2C;
    background-color: #FFF2F2;
}

.status-card{
    font-size: 12px;
}

.status-card-todo{
    color: #0DA6EB;
    background-color: #BFF3FF;
}
.status-card-onprogress{
    color: #D945EE;
    background-color: #f2caf8;
}
.status-card-done{
    color: rgb(9, 104, 9);
    background-color: rgb(218, 238, 218);
}

.task-desc{
    font-size: 14px;
}

.gradient-text {
    background: linear-gradient(to right, #e2db1f, #ae10f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: bold;
}

.task-date{
    color: #C0C0C2;
    font-size: 12px;
}

.sub-task{
    font-size: 14px;
}

.link-sidebar .active{
    color: #65558F!important;
    border-left: 2px solid #65558F;
}

.task-card:hover{
    background-color: #fdfdfd;
}

.label-container{
    width: 150px;
}

.card-option {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-option input {
    display: none;
}

.card-option label {
    width: 150px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
    /* color: #595959!important; */
}

.card-option input:checked + label {
    background-color: #fcfcfc;
}
.card-option input:checked + .option1 {
    border-color: #0DA6EB;
    color: #0DA6EB;
}
.card-option input:checked + .option2 {
    border-color: #a1aa29;
    color: #a1aa29;
}
.card-option input:checked + .option3 {
    border-color: #790B2C;
    color: #790B2C;
}
.nav-tabs .nav-link {
    border: none!important;
    position: relative;
    color: #6b6b6b!important;
}
.nav-tabs .nav-link.active {
    border-bottom: 2px solid #000000!important;
    color: #000000!important;
}

.status-option-modal {
    display: none; /* Sembunyikan radio button */
}

.status-card-modal {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.status-card-onprogress-modal {
    color: #D945EE;
    background-color: #f2caf8;
}

.status-card-done-modal {
    color: #28A745;
    background-color: #D4EDDA;
}

/* Efek ketika dipilih */
.status-option-modal:checked + .status-card-todo {
    border: 1px solid #0DA6EB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background-color: #0DA6EB;
    color:  #BFF3FF; */
}
.status-option-modal:checked + .status-card-onprogress {
    border: 1px solid #D945EE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background-color: #D945EE;
    color: #f2caf8; */
}
.status-option-modal:checked + .status-card-done {
    border: 1px solid #28A745;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-drop-task-card{
    transition: 0.3s;
    border-radius: 0 0 0 12px!important;
}

.btn-drop-task-card-list{
    transition: 0.3s;
    border-radius: 12px 0 0 0!important;
}

.btn-drop-task-card:hover{
    background-color: #cfcfcf!important;
    color: #ffffff!important;
    border-radius: 0%!important;
}

.btn-drop-task-card-list:hover{
    background-color: #cfcfcf!important;
    color: #ffffff!important;
    border-radius: 0%!important;
}

.modal.fade .modal-dialog {
    animation: zoomIn 0.3s ease-in-out;
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

@media (max-width: 500px) {
    .status-text{
        display: none;
    }
    .task-board-wrapp{
        width: 800px;
    }
    .container-task-board{
        overflow-x: auto;
    }
    .data-not-found{
        width: 300px!important;
    }
}
@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}